@import "tailwindcss";

.bg-slide-hover {
  background: linear-gradient(to right,  #d6ecfb 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease;
}

.bg-slide-hover:hover {
  background-position: left bottom;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-up {
  animation: fadeSlideUp 0.3s ease-out forwards;
}
